/* Media queries */
@media (min-width: 426px) {
	.game-area {
		margin-top: 16px;
	}

	.button-container {
		justify-content: center;
		gap: 12px;
		margin-top: 12px;
	}

	.control-button {
		min-width: 100px;
		flex-grow: 1;
		padding: 6px 0;
	}

	.up-button,
	.down-button {
		margin: 0;
	}
}
