/* Media queries */
@media (min-width: 426px) {
	.hud__game-info {
		justify-content: space-evenly;
	}

	.button-container {
		justify-content: space-between;
	}

	.control-button {
		flex-grow: 1;
	}

	.up-button,
	.down-button {
		margin: 0;
	}
}
